  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
    body{
      font-family: 'Source Code Pro', monospace;
        

    }
    a{
      color:#b20808;
      text-decoration: none;
    }
    a:hover{
      background-color:#b20808;
      color:white;
    }

    #tag a, #region a{
      color:#b20808;
      text-decoration: none;
      font-weight: 700;
    }
    #tag a:hover, #region a:hover, .back a:hover{
      background-color:#b20808;
      color:#ffffff;
    }
    .back{
      color: #424242;
      font-size: 0.75em;
    }
    .back a {
      color:#b20808;
      text-decoration: none;
    }
    .back a:hover{
      background-color: #b20808;
      color: #ffffff;
    }

    .main {
      position: absolute;
      top: 40px;
      left:250px;
      box-sizing: border-box;
      width: 640px;
      height:640px;
      padding: 40px;
      color: #424242;
    }


    .back{
      position: fixed;
      top: 550px;
      right: 250px;
    }
    #tag{
      position: fixed;
      top: 250px;
      right:250px;
      font-size: 0.75em;
      color: #424242;
    }
    #region{
      position: fixed;
      top:200px;
      right:250px;
      font-size: 1.25em;
      color: #424242;
    }

