  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
    body{
      font-family: 'Source Code Pro', monospace;
        

    }
       
    a {
      color:rgb(66,66,66);
      text-decoration: none;
    }

    a:hover {
      background-color:#f46842;
      color: white;
    }

    ul {
      list-style: none;
    }

    ul li {
      color: #f46842;
    }
    .continent{
      background-color:#f46842;
      color: white;
    }
    .main {
      position: absolute;
      top: 40px;
      left:440px;
      box-sizing: border-box;
      width: 640px;
      height:640px;
      padding: 40px;
      background-color: rgb(66,66,66);
            color: white;
    }
    .back{
      position: fixed;
      top:40px;
      left: 40px;
      color:#f46842;

    }
    .tag{
      position: fixed;
      top: 690px;
      right:60px;
    }

