@import url();

body {
background-color: rgb(66,66,66); 
font-family: 'Source Code Pro', monospace;
 

}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: white;
  text-decoration: underline;
}
a:visited{
  color: rgb(244, 104, 66);
}
.decorative{
	position:absolute;
	top: 45%;
	left:15%;
	width:100%;
}
#square{
	width:400px;
	height:400px;
	background-color:rgba(244, 104, 66,0.3);
	display: inline-block;
	margin-right:15%;
}
#circle{
	width:400px;
	height:400px;
	background-color:rgba(244, 104, 66,0.3);
	border-radius:200px;
	display: inline-block;
}

/* Text
-------------------------------------------------- */



/* Image
-------------------------------------------------- */

/*Shapes*/

/* iPad 
-------------------------------------------------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* text */
h1, h2, h3{ 
      text-transform:lowercase;
      color:#f46842;
    }
  /* image */
  img{
  	width:50%;
  	margin-left: auto;
  	margin-right:auto;
  }

}

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px) {

  /* text */
h1, h2, h3{
      text-transform:uppercase;
      color:#f46842;
    }

  /* image */
  img{
  	width: 90%;
  	margin-left:auto;
  	margin-right:auto;
  }
  #square{
	width:200px;
	height:200px;
	background-color:rgba(244, 104, 66,0.7);
	border-radius:100px;
	display: inline-block;


}

#circle{
	width:200px;
	height:200px;
	background-color:rgba(244, 104, 66,0.7);
	border-radius:0px;
	display: inline-block;
	margin-right:15%;

}

}


